
#wrapper {
  width: 85%;
  max-width: 1024px;
  min-width: 200px;
  margin: 20px auto;
}
.viz_nav, .articles_nav {
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  text-align: center;
  padding: 10px;
  margin-bottom: 5%;
  font-size: 0.8rem;
}

#articles {
  margin-top: 2%;
}

.viz_wrapper {
  max-width: 70vw;
  margin: 0 auto;
}

.viz_wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.viz_wrapper ul li{
  height: 100%;
  width: 100%;
}

.viz_wrapper ul li figure, 
.viz_wrapper ul li figure img {
  width: 100%;
}

figure {
  position: relative;
  background-color: white;
  margin: 0;
  border-radius: 20px;
  box-sizing: content-box;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  /* overflow: hidden; */
  transition: transform 0.15s ease-in-out;
}

figure:hover {
  transform: scale(1.05, 1.05);
}

/* https://tobiasahlin.com/blog/how-to-animate-box-shadow/ */
/* Pre-render the bigger shadow, but hide it */
figure::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 20px;

  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 12px 17px 2px rgba(0, 0, 0, .14), 0 5px 22px 4px rgba(0, 0, 0, .12);
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
}

/* Transition to showing the bigger shadow on hover */
figure:hover::after {
  opacity: 1;
}

figure img {
  display: block;
  height: 100%;
  width: 100%;
  border: none;

  object-fit: cover;
  border-radius: 20px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.link {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

figcaption {
  text-align: center;
  height: auto;
}

.caption {
  /* top: 5%; */
  padding: 5%;
}

.caption h4 {
  margin-bottom: 16px;
}
.caption p:last-of-type {
  margin-bottom: 0;
}


/* -- Typography ---- */
body {
  font-family: 'Open Sans', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lora', serif;
}

.sub-header {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding-left: 10px;
}

/* -- Links ---- */

a,
.h3-link {
  color: #3c948b;
  text-decoration: none;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

a:hover,
a:active,
a:focus,
.h3-link:hover,
.h3-link:active,
.h3-link:focus {
  color: #28e0c9;
  font-weight: 300;
  text-decoration: none;
}

html.can-touch a:hover,
html.can-touch a:active,
html.can-touch a:focus,
html.can-touch .h3-link:hover,
html.can-touch .h3-link:active,
html.can-touch .h3-link:focus {
  background: none;
  /* disable hover effect on touch devices */
}

/* ---- btns ---- */

.btn-primary {
  margin-bottom: 5px;
  background-color: #d4d5d6;
  color: #444;
  border: none;
  font-size: 80%;
}

.btn-secondary {
  background-color: #3c948b;
  padding: 10px 30px;
  color: #fff;
  border: none;
}

.btn-tertiary {
  background-color: #444;
  color: #fff;
  padding: 10px 30px;
  border: none;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus,
.btn-tertiary:hover,
.btn-tertiary:active,
.btn-tertiary:focus {
  background-color: #fbfbfb;
  color: #28e0c9;
  font-weight: 700;
}

html.can-touch .btn-primary:hover,
html.can-touch .btn-primary:active,
html.can-touch .btn-primary:focus,
html.can-touch .btn-secondary:hover,
html.can-touch .btn-secondary:active,
html.can-touch .btn-secondary:focus,
html.can-touch .btn-tertiary:hover,
html.can-touch .btn-tertiary:active,
html.can-touch .btn-tertiary:focus {
  background: none;
  /* disable hover effect on touch devices */
}

/* ---- Section Background ---- */

.bg-primary {
  background-color: #fbfbfb !important;
  color: #444 !important;
}

.bg-medium {
  color: #444;
  background-color: #e3e0e0;
  width: 100% !important;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.bg-dark {
  color: #fff;
  background:linear-gradient(#666C, #666C), url(../assets/leaf_bg.png);
  background-position: center center;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.bg-color {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  /* color: rgb(124, 37, 37); */
  background: linear-gradient(rgba(60, 148, 139, 0.55), rgba(60, 148, 139, 0.85)), url(../assets/tiled_me.jpg);
  background-position: middle center;
  max-height: 240px;
  padding-bottom: 50px;
}

/* ================================= 
Navigation
==================================== */

/* ---- box shadow ---- */

.navbar {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/* ---- logo ---- */

.navbar-brand {
  max-width: 75%;
  line-height: 1.5rem;
}

.navbar-brand h5 {
  font-weight: 700;
  color: #444;
  margin: 0 auto;
  padding-top: .425rem;
  padding-bottom: .425rem;
  font-size: 1.5rem;
  line-height: 1.1rem;
}
/* 
.navbar-brand h5:hover,
.navbar-brand h5:active,
.navbar-brand h5:focus {
  color: #28e0c9;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
} */

html.can-touch .navbar-brand h5:hover,
html.can-touch .navbar-brand h5:active,
html.can-touch .navbar-brand h5:focus {
  background: none;
  /* disable hover effect on touch devices */
}

/* ---- nav items (no btn) ---- */

.tab-style {
  border-left: 1px solid #d4d5d6;
  height: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.navbar-nav .nav-item+.nav-item {
  margin-left: 0;
}

.nav-item a:hover,
.nav-item a:active,
.nav-item a:focus {
  color: #28e0c9 !important;
}

html.can-touch .nav-item a:hover,
html.can-touch .nav-item a:active,
html.can-touch .nav-item a:focus {
  background: none;
  /* disable hover effect on touch devices */
}

.nav-link {
  padding: 10px;
}

/* ---- toggle ---- */

.navbar-toggler {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 1.5rem;
}

.hidden-nav {
  margin-top: 54px;
}

.hidden {
  border-bottom: 1px solid #d4d5d6;
}

.hidden-link {
  display: block;
  background-color: #fbfbfb;
  padding: 15px 50px;
  font-size: 20px;
}

.hidden-btn {
  display: block;
  background-color: #3c948b;
  padding: 15px 50px;
  font-size: 20px;
}

.hidden-link a {
  color: #444;
}

.hidden-btn a {
  color: #fff;
}

.hidden-link a:hover,
.hidden-link a:active,
.hidden-link a:focus,
.hidden-btn a:hover,
.hidden-btn a:active,
.hidden-btn a:focus {
  color: #28e0c9;
  font-weight: 300;
  text-decoration: none;
}

html.can-touch .hidden-link a:hover,
html.can-touch .hidden-link a:active,
html.can-touch .hidden-link a:focus,
html.can-touch .hidden-btn a:hover,
html.can-touch .hidden-btn a:active,
html.can-touch .hidden-btn a:focus {
  background: none;
  /* disable hover effect on touch devices */
}

/* ---- nav btn ---- */

.tab-btn {
  background-color: #45968c;
  padding: 8px 20px 8px 20px;
  margin-top: -.5rem;
}

.tab-btn:hover,
.tab-btn:active,
.tab-btn:focus {
  background-color: #fbfbfb;
}

html.can-touch .tab-btn:hover,
html.can-touch .tab-btn:active,
html.can-touch .tab-btn:focus {
  background: none;
  /* disable hover effect on touch devices */
}

.tab-btn a:hover,
.tab-btn a:active,
.tab-btn a:focus {
  color: #28e0c9 !important;
  font-weight: 300;
}

html.can-touch .tab-btn a:hover,
html.can-touch .tab-btn a:active,
html.can-touch .tab-btn a:focus {
  background: none;
  /* disable hover effect on touch devices */
}

/* ================================= 
Page Navigation
==================================== */

/* ---- box shadow ---- */

.example-caption {
  color: #444;
}

.example-caption:hover,
.example-caption:active,
.example-caption:focus {
  color: #28e0c9;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

html.can-touch .example-caption:hover,
html.can-touch .example-caption:active,
html.can-touch .example-caption:focus {
  background: none;
  /* disable hover effect on touch devices */
}

.card-img-top {
  border-bottom: 4px solid #3c948b;
  width: 100%;
}

.card-img-overlay {
  background-color: rgb(60, 148, 139, .9);
}

.card-title {
  font-family: 'Lora', serif !important;
}

.card-text {
  font-family: 'Open Sans', sans-serif !important;
}

.btn-primary-custom {
  background-color: #efefef;
  margin-bottom: 5px;
  color: #444;
  bottom: 0;
  font-size: 80%;
  vertical-align: bottom;
}

.btn-secondary-custom {
  background-color: #3c948b;
  padding: 10px 30px;
  color: #fff;
  border: none;
}

.btn-secondary-custom:hover,
.btn-secondary-custom:active,
.btn-secondary-custom:focus,
.btn-primary-custom:hover,
.btn-primary-custom:active,
.btn-primary-custom:focus {
  color: #28e0c9;
  border: 1px solid #28e0c9;
  background-color: #fff;
  font-weight: 300;
}

html.can-touch .btn-secondary-custom:hover,
html.can-touch .btn-secondary-custom:active,
html.can-touch .btn-secondary-custom:focus,
html.can-touch .btn-primary-custom:hover,
html.can-touch .btn-primary-custom:active,
html.can-touch .btn-primary-custom:focus {
  background: none;
  /* disable hover effect on touch devices */
}

.caption-custom {
  width: 120%;
  border-bottom: 4px solid #efefef;
}

/* ================================= 
Portfolio Style
==================================== */

/* ---- columns ---- */

.col,
.mobile-col {
  margin-top: 1rem;
}

.web-img {
  width: 100%;
  margin-right: 0 auto;
}

/* ---- img hover ---- */

.col-overlay {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col-caption {
  color: #fbfbfb;
  opacity: 0;
  background: rgba(60, 148, 139, .9);
  text-align: center;
  letter-spacing: .05rem;
  font-size: 16px;
  padding: 10%;
  height: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}

.col-caption-hp {
  width: calc(100% - 30px);
}

.col-caption-page {
  width: 100%;
}

.col-caption:hover,
.col-caption:active {
  opacity: 1;
}

html.can-touch .col-caption:hover,
html.can-touch .col-caption:active,
html.can-touch .col-caption:focus {
  background: none;
  /* disable hover effect on touch devices */
}

/* ================================= 
Services Style
==================================== */

/* ---- services img ---- */

.screen-img {
  margin: 0 auto;
  max-width: 75%;
}

/* ================================= 
About Style
==================================== */

/* ---- headshot ---- */

.thumbnail {
  max-width: 99%;
  margin: 0 auto;
}

/* ================================= 
Footer
==================================== */

/* ---- social icons ---- */

.icon-paper-plane:before {
  content: "\6a";
}

.icon-paper-plane:before,
.icon-file-text:before {
  padding-right: 8px;
  position: relative;
  top: 1px;
}

.icon {
  color: #818a91;
  font-size: 1.75rem;
  float: left;
  list-style: none;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.footer-content ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: 160px;
  height: 30px;
}

.footer-content .footer-text {
  padding-top: 6px;
}

.icon:hover,
.icon:active {
  color: #28e0c9;
  text-decoration: none;
}

html.can-touch .icon:hover,
html.can-touch .icon:active,
html.can-touch .icon:focus {
  background: none;
  /* disable hover effect on touch devices */
}

/* ================================= 
Carousel
==================================== */

/* ---- image nav ---- */

.arrow {
  color: #efefef;
  opacity: 1 !important;
  font-size: 25px;
  text-decoration: none;
}

.carousel-container {
  height: 547px;
}

.arrow-left,
.arrow-right {
  opacity: .3;
  position: fixed;
  color: #3c948b;
  z-index: 10000;
  margin-top: 18%;
  width: 80px;
  text-decoration: none;

  line-height: 80px;
  font-size: 40px;

}

.arrow-left:hover,
.arrow-left:active,
.arrow-left:focus,
.arrow-right:hover,
.arrow-left:active,
.arrow-left:focus {
  opacity: .5;
  text-decoration: none;
}

html.can-touch .arrow-left:hover,
html.can-touch .arrow-left:active,
html.can-touch .arrow-left:focus,
html.can-touch .arrow-right:hover,
html.can-touch .arrow-right:active,
html.can-touch .arrow-right:focus {
  background: none;
  /* disable hover effect on touch devices */
}

.arrow-left {
  margin-left: 1%;
}

.arrow-right {
  margin-left: 96%;
}

.arrow:hover,
.arrow:active,
.arrow:focus {
  color: #28e0c9;
  text-decoration: none;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

html.can-touch .arrow:hover,
html.can-touch .arrow:active,
html.can-touch .arrow:focus {
  background: none;
  /* disable hover effect on touch devices */
}

#carousel-custom {
  margin-top: 6rem;
  width: 100%;
  border: 2px solid #efefef;
}

.carousel-item {
  padding: .5rem;
}

.client-header {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.icon-link {
  background-color: #3c948b;
  color: #fff;
  padding: 10px 10px 5px 10px;
}

.icon-link:hover,
.icon-link:active,
.icon-link:focus {
  border: 1px solid #28e0c9;
  background-color: #fff;
  color: #28e0c9;
}

html.can-touch .icon-link:hover,
html.can-touch .icon-link:active,
html.can-touch .icon-link:focus {
  background: none;
  /* disable hover effect on touch devices */
}

/* ---- copyright & bootstrap callout ---- */

.footer-content p {
  text-align: center;
  color: #818a91;
}


/* Rob's extra stylings */

.gallery {
  display: grid;
  /* grid-template-columns: 1fr; */ /* this is technically not necessary at mobile viewport */
  column-gap: 30px;
  row-gap: 40px;
  /* grid-auto-rows: 50vw; */
  /* grid-auto-rows: 1fr; */
  justify-items: center;
  align-items: center;
}

main section {
  padding: 3rem 0;
}

main section h1 {
  /* margin-top: 1.5rem; */
  margin-bottom: 20px;
  /* padding-top: 3rem; */
  padding-bottom: .75rem;
}

#sarah-image {
  border-radius: 1000px;
  max-height: 500px;
}

.btn {
  border-radius: 2rem;
}

html {
  scroll-behavior: smooth;
}

.about-text {
  padding-top: 30px;
}

.text-white {
  color: white;
}

.fa-external-link-alt {
  padding-left: 4px;
}

section, aside {
  position: relative;
}
.section-anchor {
  display: block;
  content: " afsfadfsdf";
  position: relative;
  top: -100px;
  /* visibility: hidden; */
}
aside .section-anchor {
  top: -50px;
}

.elevation-24 { box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12) }
.elevation-23 { box-shadow: 0 11px 14px -7px rgba(0, 0, 0, .2), 0 23px 36px 3px rgba(0, 0, 0, .14), 0 9px 44px 8px rgba(0, 0, 0, .12) }
.elevation-22 { box-shadow: 0 10px 14px -6px rgba(0, 0, 0, .2), 0 22px 35px 3px rgba(0, 0, 0, .14), 0 8px 42px 7px rgba(0, 0, 0, .12) }
.elevation-21 { box-shadow: 0 10px 13px -6px rgba(0, 0, 0, .2), 0 21px 33px 3px rgba(0, 0, 0, .14), 0 8px 40px 7px rgba(0, 0, 0, .12) }
.elevation-20 { box-shadow: 0 10px 13px -6px rgba(0, 0, 0, .2), 0 20px 31px 3px rgba(0, 0, 0, .14), 0 8px 38px 7px rgba(0, 0, 0, .12) }
.elevation-19 { box-shadow: 0 9px 12px -6px rgba(0, 0, 0, .2), 0 19px 29px 2px rgba(0, 0, 0, .14), 0 7px 36px 6px rgba(0, 0, 0, .12) }
.elevation-18 { box-shadow: 0 9px 11px -5px rgba(0, 0, 0, .2), 0 18px 28px 2px rgba(0, 0, 0, .14), 0 7px 34px 6px rgba(0, 0, 0, .12) }
.elevation-17 { box-shadow: 0 8px 11px -5px rgba(0, 0, 0, .2), 0 17px 26px 2px rgba(0, 0, 0, .14), 0 6px 32px 5px rgba(0, 0, 0, .12) }
.elevation-16 { box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .2), 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12) }
.elevation-15 { box-shadow: 0 8px 9px -5px rgba(0, 0, 0, .2), 0 15px 22px 2px rgba(0, 0, 0, .14), 0 6px 28px 5px rgba(0, 0, 0, .12) }
.elevation-14 { box-shadow: 0 7px 9px -4px rgba(0, 0, 0, .2), 0 14px 21px 2px rgba(0, 0, 0, .14), 0 5px 26px 4px rgba(0, 0, 0, .12) }
.elevation-13 { box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 13px 19px 2px rgba(0, 0, 0, .14), 0 5px 24px 4px rgba(0, 0, 0, .12) }
.elevation-12 { box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 12px 17px 2px rgba(0, 0, 0, .14), 0 5px 22px 4px rgba(0, 0, 0, .12) }
.elevation-11 { box-shadow: 0 6px 7px -4px rgba(0, 0, 0, .2), 0 11px 15px 1px rgba(0, 0, 0, .14), 0 4px 20px 3px rgba(0, 0, 0, .12) }
.elevation-10 { box-shadow: 0 6px 6px -3px rgba(0, 0, 0, .2), 0 10px 14px 1px rgba(0, 0, 0, .14), 0 4px 18px 3px rgba(0, 0, 0, .12) }
.elevation-9 { box-shadow: 0 5px 6px -3px rgba(0, 0, 0, .2), 0 9px 12px 1px rgba(0, 0, 0, .14), 0 3px 16px 2px rgba(0, 0, 0, .12) }
.elevation-8 { box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12) }
.elevation-7 { box-shadow: 0 4px 5px -2px rgba(0, 0, 0, .2), 0 7px 10px 1px rgba(0, 0, 0, .14), 0 2px 16px 1px rgba(0, 0, 0, .12) }
.elevation-6 { box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12) }
.elevation-5 { box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 5px 8px 0 rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12) }
.elevation-4 { box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12) }
.elevation-3 { box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12) }
.elevation-2 { box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12) }
.elevation-1 { box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12) }
.elevation-0 { box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12) }
