/* ================================= 
  Base Element Style
==================================== */

/* -- Typography ---- */
body {
	font-family: 'Open Sans', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Lora', serif;
}

.sub-header {
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 300;
	font-size: 16px;
}

/* -- Links ---- */

a,
.h3-link {
	color: #3c948b;
	text-decoration: none;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:active,
a:focus,
.h3-link:hover,
.h3-link:active,
.h3-link:focus {
    color: #28e0c9;
    font-weight: 300;
    text-decoration: none; 
}

html.can-touch a:hover,
html.can-touch a:active,
html.can-touch a:focus,
html.can-touch .h3-link:hover,
html.can-touch .h3-link:active,
html.can-touch .h3-link:focus {
    background: none; /* disable hover effect on touch devices */
}

/* ---- btns ---- */

.btn-primary {
	margin-bottom: 5px;
	background-color: #d4d5d6;
	color: #444;
	border: none;
	font-size: 80%;
}

.btn-secondary {
	background-color: #3c948b;
	padding: 10px 30px;
	color: #fff;
	border: none;
}

.btn-tertiary {
	background-color: #444;
	color: #fff;
	padding: 10px 30px;
	border: none;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus,
.btn-tertiary:hover,
.btn-tertiary:active,
.btn-tertiary:focus {
    background-color: #fbfbfb;
    color: #28e0c9;
    font-weight: 700;
}

html.can-touch .btn-primary:hover,
html.can-touch .btn-primary:active,
html.can-touch .btn-primary:focus,
html.can-touch .btn-secondary:hover,
html.can-touch .btn-secondary:active,
html.can-touch .btn-secondary:focus,
html.can-touch .btn-tertiary:hover,
html.can-touch .btn-tertiary:active,
html.can-touch .btn-tertiary:focus {
    background: none; /* disable hover effect on touch devices */
}

/* ---- Section Background ---- */

.bg-primary {
	background-color: #fbfbfb !important;
	color: #444 !important;
}

.bg-medium {
    color: #444;
    background-color: #e3e0e0;
    width: 100% !important;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.bg-dark {
    color: #fff;
    background-image: url(../img/bg-dark.png);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.bg-color {
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    color: #444;
    background: linear-gradient(rgba(60, 148, 139, 0.85), rgba(60, 148, 139, 0.85)), url(../img/bg-img.jpg);
    background-position: middle center;
    max-height: 240px;
    padding-bottom: 50px;
}

/* ================================= 
  Navigation
==================================== */

/* ---- box shadow ---- */

.navbar {
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/* ---- logo ---- */

.navbar-brand {
	max-width: 75%;
	line-height: 1.5rem;
}

.navbar-brand h5 {
	font-weight: 700;
	color: #444;
	margin: 0 auto;
	padding-top: .425rem;
	padding-bottom: .425rem;
	font-size: 1.5rem;
	line-height: 1.1rem;
}

.navbar-brand h5:hover,
.navbar-brand h5:active,
.navbar-brand h5:focus {
	color: #28e0c9;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

html.can-touch .navbar-brand h5:hover,
html.can-touch .navbar-brand h5:active,
html.can-touch .navbar-brand h5:focus {
    background: none; /* disable hover effect on touch devices */
}

/* ---- nav items (no btn) ---- */

.tab-style {
	border-left: 1px solid #d4d5d6;
	height: 100%;
	padding: 0 20px;
	margin: 0 auto;
}

.navbar-nav
.nav-item + .nav-item {
    margin-left: 0;
}

.nav-item a:hover,
.nav-item a:active,
.nav-item a:focus {
	color: #28e0c9 !important;
}

html.can-touch .nav-item a:hover,
html.can-touch .nav-item a:active,
html.can-touch .nav-item a:focus {
    background: none; /* disable hover effect on touch devices */
}

.nav-link {
	padding: 10px;
}

/* ---- toggle ---- */

.navbar-toggler {
	padding-top: .25rem;
	padding-bottom: .25rem;
	font-size: 1.5rem;
}

.hidden-nav {
	margin-top: 2.25rem;
}

.hidden {
	border-bottom: 1px solid #d4d5d6;
}

.hidden-link {
	display: block;
	background-color: #fbfbfb;
	padding: 15px 50px;
	font-size: 20px;
}

.hidden-btn {
	display: block;
	background-color: #3c948b;
	padding: 15px 50px;
	font-size: 20px;
}

.hidden-link a {
	color: #444;
}

.hidden-btn a {
	color: #fff;
}

.hidden-link a:hover,
.hidden-link a:active,
.hidden-link a:focus,
.hidden-btn a:hover,
.hidden-btn a:active,
.hidden-btn a:focus {
	color: #28e0c9;
    font-weight: 300;
    text-decoration: none;
}

html.can-touch .hidden-link a:hover,
html.can-touch .hidden-link a:active,
html.can-touch .hidden-link a:focus,
html.can-touch .hidden-btn a:hover,
html.can-touch .hidden-btn a:active,
html.can-touch .hidden-btn a:focus {
    background: none; /* disable hover effect on touch devices */
}

/* ---- nav btn ---- */

.tab-btn {
	background-color: #45968c;
	padding: 8px 20px 8px 20px;
	margin-top: -.5rem;
}

.tab-btn:hover,
.tab-btn:active,
.tab-btn:focus {
    background-color: #fbfbfb;
}

html.can-touch .tab-btn:hover,
html.can-touch .tab-btn:active,
html.can-touch .tab-btn:focus {
    background: none; /* disable hover effect on touch devices */
}

.tab-btn a:hover,
.tab-btn a:active,
.tab-btn a:focus {
	color: #28e0c9 !important;
	font-weight: 300;
}

html.can-touch .tab-btn a:hover,
html.can-touch .tab-btn a:active,
html.can-touch .tab-btn a:focus {
    background: none; /* disable hover effect on touch devices */
}

/* ================================= 
  Page Navigation
==================================== */

/* ---- box shadow ---- */

.example-caption {
	color: #444;
}

.example-caption:hover,
.example-caption:active,
.example-caption:focus {
	color: #28e0c9;
	-webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

html.can-touch .example-caption:hover,
html.can-touch .example-caption:active,
html.can-touch .example-caption:focus {
    background: none; /* disable hover effect on touch devices */
}

.card-img-top {
	border-bottom: 4px solid #3c948b;
	width: 100%;
}

.card-img-overlay {
	background-color: rgb(60, 148, 139, .9);
}

.card-title {
	font-family: 'Lora', serif !important;
}

.card-text {
	font-family: 'Open Sans', sans-serif !important;
}

.btn-primary-custom {
	background-color: #efefef;
	margin-bottom: 5px;
	color: #444;
	bottom: 0;
	font-size: 80%;
	vertical-align: bottom;
}

.btn-secondary-custom {
	background-color: #3c948b;
	padding: 10px 30px;
	color: #fff;
	border: none;
}

.btn-secondary-custom:hover,
.btn-secondary-custom:active,
.btn-secondary-custom:focus,
.btn-primary-custom:hover,
.btn-primary-custom:active,
.btn-primary-custom:focus {
    color: #28e0c9;
    border: 1px solid #28e0c9;
    background-color: #fff;
    font-weight: 300;
}

html.can-touch .btn-secondary-custom:hover,
html.can-touch .btn-secondary-custom:active,
html.can-touch .btn-secondary-custom:focus,
html.can-touch .btn-primary-custom:hover,
html.can-touch .btn-primary-custom:active,
html.can-touch .btn-primary-custom:focus {
    background: none; /* disable hover effect on touch devices */
}

.caption-custom {
    width: 120%;
    border-bottom: 4px solid #efefef;
}

/* ================================= 
  Portfolio Style
==================================== */

/* ---- columns ---- */

.col,
.mobile-col {
	margin-top: 1rem;
}

.web-img {
		width: 100%;
		margin-right: 0 auto;
}

/* ---- img hover ---- */

.col-overlay {
	position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col-caption {
	color: #fbfbfb;
    opacity: 0;
    background: rgba(60,148,139,.9);
    text-align: center;
    letter-spacing: .05rem;
    font-size: 16px;
    padding: 10%;
    height: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
}

.col-caption-hp {
	width: calc(100% - 30px);
}

.col-caption-page {
	width: 100%;
}

.col-caption:hover,
.col-caption:active {
	opacity: 1;
}

html.can-touch .col-caption:hover,
html.can-touch .col-caption:active,
html.can-touch .col-caption:focus {
    background: none; /* disable hover effect on touch devices */
}

/* ================================= 
  Services Style
==================================== */

/* ---- services img ---- */

.screen-img {
	margin: 0 auto;
	max-width: 75%;
}

/* ================================= 
  About Style
==================================== */

/* ---- headshot ---- */

.thumbnail {
	max-width: 99%;
	margin: 0 auto;
}

/* ================================= 
  Footer
==================================== */

/* ---- social icons ---- */

.icon {
	color: #818a91;
	font-size: 1.75rem;
	float: left;
	list-style: none;
	-webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.footer-content ul {
	margin: 0 auto;
	padding: 0;
	max-width: 300px;
}

.icon:hover,
.icon:active {
	color: #28e0c9;
	text-decoration: none;
}

html.can-touch .icon:hover,
html.can-touch .icon:active,
html.can-touch .icon:focus {
    background: none; /* disable hover effect on touch devices */
}

/* ================================= 
  Carousel
==================================== */

/* ---- image nav ---- */

.arrow {
	color: #efefef;
	opacity: 1 !important;
	font-size: 25px;
	text-decoration: none;
}

.carousel-container {
	height: 547px;
}

.arrow-left,
.arrow-right {
	opacity: .3;
	position: fixed;
	color: #3c948b;
	z-index: 10000;
	margin-top: 18%;
	width: 80px;
	text-decoration: none;

    line-height: 80px;
    font-size: 40px;
    
}

.arrow-left:hover,
.arrow-left:active,
.arrow-left:focus,
.arrow-right:hover,
.arrow-left:active,
.arrow-left:focus {
	opacity: .5;
	text-decoration: none;
}

html.can-touch .arrow-left:hover,
html.can-touch .arrow-left:active,
html.can-touch .arrow-left:focus,
html.can-touch .arrow-right:hover,
html.can-touch .arrow-right:active,
html.can-touch .arrow-right:focus {
    background: none; /* disable hover effect on touch devices */
}

.arrow-left {
	margin-left: 1%;
}

.arrow-right {
	margin-left: 96%;
}

.arrow:hover,
.arrow:active,
.arrow:focus {
	color: #28e0c9;
	text-decoration: none;
	 -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

html.can-touch .arrow:hover,
html.can-touch .arrow:active,
html.can-touch .arrow:focus {
    background: none; /* disable hover effect on touch devices */
}

#carousel-custom {
    margin-top: 6rem;
    width: 100%;
    border: 2px solid #efefef;
}

.carousel-item {
	padding: .5rem;
}

.client-header {
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 300;
	font-size: 18px;
}

.icon-link {
	background-color: #3c948b;
	color: #fff;
	padding: 10px 10px 5px 10px;
}

.icon-link:hover,
.icon-link:active,
.icon-link:focus {
	border: 1px solid #28e0c9;
	background-color: #fff;
	color: #28e0c9;
}

html.can-touch .icon-link:hover,
html.can-touch .icon-link:active,
html.can-touch .icon-link:focus {
    background: none; /* disable hover effect on touch devices */
}

/* ---- copyright & bootstrap callout ---- */

.footer-content p {
	text-align: center;
	color: #818a91;
}

/* ================================= 
  Media Queries
==================================== */

/* Small devices (landscape phones, 34em and up) */
@media (min-width: 34em) { 

	/* ---- card styling ---- */

	.card-columns {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}	

}

/* Medium devices (tablets, less than 62em) */
@media (min-width: 61.9em) {

	/* ---- about ---- */

	.thumbnail {
		max-width: 50%;
		margin-left: 7rem;
	}

	/* ---- navbar ---- */

	.navbar {
		padding-bottom: 0;
	}

	.navbar-brand h5 {
		padding-top: .25rem;
		padding-bottom: .25rem;
	}

	/* ---- portfolio ---- */
	
	.mobile-col {
		margin-top: 0;
	}

	/* ---- about ---- */

	.thumbnail {
		max-width: 80%;
		margin-left: 4rem;
	}

	.about-text {
		padding-top: 3rem;
	}

	/* ---- card styling ---- */

	.card-columns {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}

}


/* Large devices (desktops, less than 75em) */

@media (min-width: 74.9em) {

	/* ---- services ---- */

	.screen-img {
		min-width: 75%;
	}

	/* ---- about ---- */

	.thumbnail {
		max-width: 75%;
		margin-left: 5rem;
	}

	.about-text {
		padding-top: 6rem;
	}

	/* ---- footer ---- */

	.footer-content {
		max-height: 100px;
	}

	.footer-content p {
		float: right;
		text-align: right;
		padding-top: .425rem;
		padding-bottom: 1%;
	}

	.footer-content ul {
		float: left;
		padding-bottom: .425rem;
	}

	/* ---- card styling ---- */

	.card-columns {
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	}

	/* ---- .col-caption styling ---- */

	.col-caption i {
		border: 1px solid #fff;
		color: #fff;
		padding: 15px 15px 5px 15px;
		font-size: 35px;
	}

}